.container {
  padding: 0 2rem;
}

.center{
  text-align: center;
}

.gradient{
  background-color: cadetblue;
  background-image: linear-gradient(white, lightBlue, grey);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 900px;
  /* height: 100%; */
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.title {
  margin: 1rem;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.logo {
  display: flex;
  height: 1rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
